.card-pokemon {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    animation: cardappear 0.1s;
}

@keyframes cardappear {
    0% {transform: scale(1);}
    50% {transform: scale(1.02);}
    100% {transform: scale(1);}
}

.card-pokemon .card-topo {
    padding: 30px 40px 0;
}

.card-pokemon .nome {
    margin-bottom: 5px;
}

.card-pokemon .type {
    font-size: 12px;
    background-color: white;
    opacity: 0.7;
    border-radius: 10px;
    padding: 2px 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-right: 5px;
}

.card-pokemon .detalhes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-pokemon .card-imagem {
    width: 350px;
    height: 350px;
}

.card-pokemon img {
    max-height: 100%;
    max-width: 100%;
    animation: appear 0.5s;
}

@keyframes appear {
    0% {transform: scale(0.1);}
    100% {transform: scale(1);}
}

.card-pokemon .card-info {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 80px 30px 50px;
    margin-top: -60px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.card-pokemon .card-info h3 {
    font-size: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #6B727A;
}

.card-pokemon .card-info .statsWrap, .card-pokemon .card-info .abilitiesWrap {
    padding: 0 10px;
    width: 180px;
}

.card-pokemon .card-info .abilitiesWrap ul li, .card-pokemon .card-info .statsWrap ul li {
    border-bottom: 1px solid #c3c4c5;
    padding: 0 0 5px;
    margin-bottom: 5px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}