@media (max-width: 767px) {
    body{
        font-size: 12px;
    }

    .pokedex {
        flex-direction: column;
    }

    .card-pokemon {
        max-width: 300px;
    }

    .card-pokemon .card-imagem {
        width: 200px;
        height: 200px;
    }

    .card-pokemon .card-info {
        padding: 60px 30px 30px;
        margin-top: -50px;
    }

    .card-pokemon .card-info h3 {
        font-size: 16px;
    }

    .card-pokemon .card-info p {
        font-size: 10px;
    }

    .listagem {
        max-width: 300px;
    }

    .listagem ul {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
    }

    .listagem .pokemon {
        width: 130px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-bottom: 0;
        border-radius: 8px;
    }

    .listagem .pokemon span {
        padding-right: 5px;
    }
}