:root {
    --electric: #f8d030;
    --grass: #49d0b0;
    --fire: #f08030;
    --normal: #a8a878;
    --fighting: #C03028;
    --water: #76befe;
    --flying: #a890f0;
    --poison: #a040a0;
    --ground: #E0C068;
    --psychic: #f85888;
    --rock: #B8A038;
    --ice: #98D8D8;
    --bug: #8aee71;
    --dragon: #7038f8;
    --ghost: #705898;
    --dark: #705848;
    --steel: #B8B8D0;
    --fairy: #ee99ac;
}